<!DOCTYPE html><html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	 crossorigin="anonymous"> {% block head %} {% endblock %}
</head>

<body>
	<script type="text/javascript">
		function noenter() {
		return !(window.event && window.event.keyCode == 13); }
	</script>
	{% block beforeBody %}
	{% endblock %}
	<nav id= "mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Jack Donaldson</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="{{ 'nav-item active' if active_page == 'home' else 'nav-item' }}">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
        </li>
		{% if current_user.isAdmin %}
        <li class="{{ 'nav-item active' if active_page == 'users' else 'nav-item' }}">
          <a class="nav-link" href="/users"><i class="fas fa-list"></i> Users</a>
        </li>
        <li class="{{ 'nav-item active' if active_page == 'viewCourses' else 'nav-item' }}">
          <a class="nav-link" href="/viewCourses"><i class="fas fa-edit"></i> Courses</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/admin_help.pdf" target="_blank"><i class="fas fa-question-circle"></i> Help</a>
        </li>
		{% else %}
		<li class="nav-item">
          <a class="nav-link" href="/student_help.pdf" target="_blank"><i class="fas fa-question-circle"></i> Help</a>
        </li>
		{% endif %}
      </ul>
	<ul class="navbar-nav navbar-right">
	{% if current_user.is_anonymous %}
    	<li class="{{ 'nav-item active' if active_page == 'register' else 'nav-item' }}"><a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a></li>
    	<li class="{{ 'nav-item active' if active_page == 'login' else 'nav-item' }}"><a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
	{% else %}
		<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user"></i> Welcome {{current_user.username}}</a></li>
		<li class="nav-item"><a class="nav-link" href="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
	{% endif %}
    </ul>
    </div>
  	</nav>

	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	 crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	 crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/80f1a476ae.js" crossorigin="anonymous"></script>
	
	<div class="container-fluid" style="max-width:90%">
	{% block body %} {% endblock %}
	</div>
</body>

</html>