{% extends 'base.html' %}
{% set active_page = "viewCourse" %}

{% block head %}
<title>{{course.name}}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/courseStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/customCodeMirrorTheme.css') }}">


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='highlight/tomorrow.css')}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.core.min.css">
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block body %}
</div>
<div class="overlay"></div>
<nav id= "secondNav" class="navbar navbar-expand bg-light flex-nowrap" style="background-color:#e5e5e5!important">
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar5">
			<span class="navbar-toggler-icon"></span>
		</button>

		<span><button type="button" id="sidebarCollapse" style="" class="SpecialButton"><i class="fas fa-align-left"></i></button></span>
	</div>

    <div class="mx-auto order-2" id="navbar5" style="">
        <div class="navbar-nav mx-auto">
			<button style="color:#495057;padding: 0;padding-left:10px;border: none;background: none;" type="submit" id="PreviousProblem"><i class="fas fa-arrow-left"></i></button>
            <a class="nav-link active" style="text-align:center;white-space:nowrap" id="ProblemName">Problem Name</a>
			<button style="color:#495057;padding: 0;padding-right:10px;border: none;background: none;" type="submit" id="NextProblem"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>


	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<div class="navbar-nav ml-auto">
		<div id="CodingButtons">
			<button style="" type="submit" id="RunCode" class="SpecialButton"><i class="fas fa-play"></i> Run&nbsp&nbsp</button>
			<button style="display:none" type="submit" id="StopCode" class="SpecialButton"><i class="fas fa-stop"></i> Stop&nbsp&nbsp</button>
			<button style="" type="submit" id="SaveButton" class="SpecialButton"><i class="fas fa-save"></i> Save&nbsp&nbsp</button>
			<button style="" type="submit" id="MarkButton" class="SpecialButton"><i class="fas fa-highlighter"></i> Mark</button>
		</div>
		</div></div>
    </div>
</nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
			<div class="container" style="padding-top:12.5px;margin-bottom:100px">
				<div id="">
				<button type="button" class="close close-btn" style="color: #343a40;opacity:1;" data-dismiss="modal" aria-label="Close" id="dismiss">&times;</button>
				<h5 style="display:inline">{{course.name}}</h5>
				<p style="margin-top:10px">Created by Jack Donaldson</p>
				<hr style="background-color: #343a40;margin-bottom:6px">
				{% for section in course.sections %}
					<h5 class="SectionTitle">{{section.name}}</h5>
					{% for slide in section.slides %}
						<a href="#" class="NoHoverLink"><h7 class="SlideTitle">{{slide.name}}</h7></a><br>
					{% endfor %}
				{% endfor %}
			</div>

			</div>
        </nav>

    </div>

	<div class="container-fluid" id="CodingSection">
	<div class="row problemView">
			<div class="col-8" id ="leftPanel" style="background:white"><div id="resize"></div>
			<div class="TopDiv ql-editor" id="CodingExplanation"></div>
			</div>
			<div class="col-4" id="rightPanel" style="background:black">
					<pre data-executable>print("test")</pre>
			</div>
	</div>
	</div>

	<div id="NormalSection">
	<div class="row problemView">
		<div class="col-12 mainSection">
			<div class="CenteringDiv" style="padding-top: min(10%,100px);padding-bottom: min(10%,100px);margin-top:0px">
			<div class="container-info container-sm">
				<div class="CenterVid">
					<iframe id="trailerFrame" class="trailerFrame" max-width="560" max-height="315" src="" frameborder="0" allow="modestbranding" allowfullscreen></iframe>
				</div>
				<div class="TopDiv ql-editor" id="NormalExplanation">
			</div>
			</div>
			</div>
		</div>
	</div>
	</div>

	<div id="QuizSection">
	<div class="row problemView">
		<div id="MainQuizSectionScroll" class="col-12 mainSection">
			<div class="CenteringDiv" style="padding-top:0px;padding-bottom:0px">
				<div class="CenterText container-sm">
					<div id="QuestionExplanationDiv" class="TopDiv">
					</div>
					<div class="TopDiv" id="QuestionLoadingDiv">
						<div id="QuestionSpinner" class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="TopDiv" id="QuestionAmountSelectionDiv" style="display:none">
						<label>Question Count: </label>
						<select class="form-control" id="questionBankAmount" style="width:auto;display:inline-block;">
						</select>
						<button disabled type="button" class="btn btn-dark" id="StartQuestions">Start</button>
					</div>
				</div>
			</div>
			<div id="ActualQuestionsDiv">
			</div>
		</div>
	</div>
	</div>

<div class="modal fade" id="inModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Response Required</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Prompt:</label>
            <p id="promptString">Random prompt</p>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Enter A Response:</label>
            <input class="form-control" id="promptResponse" onkeypress="return noenter()"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="responseSubmit">Send Response</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='juniper/juniper.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript">
function closeSidebar(){
    $('#sidebar').removeClass('active');
    $('.overlay').removeClass('active');
}

function showSidebar(){
    $('#sidebar').addClass('active');
    $('.overlay').addClass('active');
    $('.collapse.in').toggleClass('in');
    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
}
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
				axis:"y"
            });

            $('#dismiss, .overlay').on('click', function () {
                closeSidebar();
            });

            $('#sidebarCollapse').on('click', function () {
                showSidebar();
            });
        });

var selectedAnswer = -1;
var currentQuestionsList = ""
var currentProblemID = 0;
var w_pos;var h_pos;
var quizMarked = false

function forceCodingWindowView(){
	updateSizes();
	setupDefault();
}

window.onresize = function(event) {
    updateSizes();
	setupDefault();
}

window.onload = function(event) {
	getElements();
    updateSizes();
	setupMovement();
	setupDefault();

	//Go again to ensre width is right
	updateSizes();
	setupDefault();
}
function getElements(e){
	leftPanel = $("#leftPanel");
	leftPanelElement = document.getElementById("leftPanel");

	topRightPanel = $(".juniper-input");
	topRightPanelElement = document.getElementsByClassName("juniper-input")[0];
	
	bottomRightPanel = $(".juniper-output");
	bottomRightPanelElement = document.getElementsByClassName("juniper-output")[0];

	rightPanel = $("#rightPanel");

	var sh = document.createElement('div');
	sh.id='resizeHorizontal';
	bottomRightPanelElement.appendChild(sh)

	$(".CodeMirror").css({"min-height":'inherit',"max-height":"inherit"});
}

function updateSizes(){
	windowWidth = $(".problemView").width();
	nvh = $('#mainNav').outerHeight(true);
	nvh2 = $('#secondNav').outerHeight(true);
    vpw = $(window).width();
    vph = $(window).height();
    windowHeight = vph-nvh-nvh2;

	minWidth= windowWidth*0.35
	maxWidth = windowWidth*0.55

	minHeight= windowHeight*0.45
	maxHeight = windowHeight*0.7
	
	rightPanel.css({'min-height': windowHeight + 'px'});
	rightPanel.css({'max-height': windowHeight + 'px'});

	$('.problemView').css({'min-height': windowHeight + 'px'});
	$('.problemView').css({'max-height': windowHeight + 'px'});

}

function setupDefault(){
	leftSide = windowWidth/2;
	rightSide = windowWidth-leftSide-0+"px"
	leftSide = leftSide+"px"

	leftPanel.css({'min-width': leftSide});
	leftPanel.css({'max-width': leftSide});

	rightPanel.css({'min-width': rightSide});
	rightPanel.css({'max-width': rightSide});

	setupDefaultHeight();
}

function setupDefaultHeight(){
	topSide = windowHeight/2;
	bottomSide = (windowHeight-topSide)-0+"px"
	topSide = topSide+"px"

	topRightPanel.css({'min-height': topSide});
	topRightPanel.css({'max-height': topSide});

	bottomRightPanel.css({'min-height': bottomSide});
	bottomRightPanel.css({'max-height': bottomSide});

	leftPanel.css({'min-height': windowHeight});
	leftPanel.css({'max-height': windowHeight});

	rightPanel.css({'min-height': windowHeight});
	rightPanel.css({'max-height': windowHeight});
}

function resizeWidth(e){
    var dx = w_pos - e.x;
    w_pos = e.x;

	leftSide = Math.min(Math.max((parseInt(getComputedStyle(leftPanelElement, '').width) - dx), minWidth),maxWidth);
	rightSide = windowWidth-leftSide-0+"px"
	leftSide = leftSide+"px"

	leftPanel.css({'min-width': leftSide});
	leftPanel.css({'max-width': leftSide});

	rightPanel.css({'min-width': rightSide});
	rightPanel.css({'max-width': rightSide});
}

function resizeHeight(e){
    var dx = h_pos - e.y;
    h_pos = e.y;

	topSide = Math.min(Math.max((parseInt(getComputedStyle(topRightPanelElement, '').height) - dx), minHeight),maxHeight);
	bottomSide = (windowHeight-topSide)-0+"px"
	topSide = topSide+"px"

	topRightPanel.css({'min-height': topSide});
	topRightPanel.css({'max-height': topSide});

	bottomRightPanel.css({'min-height': bottomSide});
	bottomRightPanel.css({'max-height': bottomSide});
}
function setupMovement(e){
	var resize_el = document.getElementById("resize");
	var resize_h = document.getElementById("resizeHorizontal");
	resize_el.addEventListener("mousedown", function(e){
		w_pos = e.x;
		document.addEventListener("mousemove", resizeWidth, false);
	}, false);
	resize_h.addEventListener("mousedown", function(e){
		h_pos = e.y;
		document.addEventListener("mousemove", resizeHeight, false);
	}, false);
	document.addEventListener("mouseup", function(){
		document.removeEventListener("mousemove", resizeWidth, false);
		document.removeEventListener("mousemove", resizeHeight, false);
	}, false);
}

new Juniper({ 
	repo: 'jiak1/SDDMajorProjectJuniper',
	msgLoading:"",
	msgError:"There was an error trying to run your code. Please try again.",
	theme: 'customCodeMirrorTheme'})

	var cm = document.querySelector(".CodeMirror").CodeMirror;
	cm.setOption("lineNumbers",true);
	cm.setOption("matchBrackets",true);
	cm.setOption("lineWrapping",true);
	cm.setOption("indentUnit",2);

	var fails = 0;
	var forced = false;
	var weWantToStop = false;

	playButton = document.getElementById("RunCode");
	stopButton = document.getElementById("StopCode");
	markButton = document.getElementById("MarkButton");
	saveButton = document.getElementById("SaveButton");

	playButton.addEventListener('click', e => {
		if (forced == false){
			fails=0;
			startRunning();
		}else{
			forced=false;
		}
	});

	stopButton.addEventListener('click', e => {
		disableJuniper();
		weWantToStop = true;
	});

	// listen to status updates
    document.addEventListener('juniper', ev =>{
		if(ev.detail.status == "failed"){
			fails = fails+1;
			if (fails <=3 ){
				forced = true;
				playButton.dispatchEvent(new Event('click', { 'bubbles': true}));

			}else{
				stopRunning();
			}
		}
    	console.log('Status:', ev.detail.status)
	})

	document.addEventListener('kernal-connected', ev =>{
		if(weWantToStop){
		stopRunning();
		weWantToStop=false;
		}
	})
	
	function startRunning(){
		cm.setOption("readOnly",true);
		playButton.disabled = true;
		markButton.disabled = true;
		saveButton.disabled = true;
		stopButton.disabled=false;
		$("#StopCode").css({"display":"inline-block"});
	}

	function disableJuniper(){
		stopButton.disabled=true;
		oldCode = cm.getValue();
		cm.setValue("print('Program Terminated.')");
		forced = true;
		playButton.dispatchEvent(new Event('click', { 'bubbles': true}));
		cm.setValue(oldCode);
	}
	function stopRunning(){
		cm.setOption("readOnly",false);
		playButton.disabled = false;
		markButton.disabled = false;
		saveButton.disabled = false;
		$("#StopCode").css({"display":"none"});
	}

MutationObserver = window.MutationObserver || window.WebKitMutationObserver;

var observer = new MutationObserver(function(mutations, observer) {
setTimeout(() => {
    customList = document.getElementsByClassName("jp-Stdin-prompt");
	for (i = 0; i < customList.length; i++) {
		var prompt = customList[i];
		if(prompt != null && prompt.innerHTML != ""){
			p = prompt.innerHTML.split("<")[0];
			prompt.innerHTML="";
			$("#promptResponse").val("")
			$("#promptString").text(p);
			$("#inModal").modal({
				keyboard: false,
				backdrop:'static',
				focus:true
			})
		}
	}
},500);
});

$('#inModal').on('hide.bs.modal', function (e) {
  response = $("#promptResponse").val();

  $(".jp-Stdin-input").val(response);
  $(".jp-Stdin-input").submit();

  var e = jQuery.Event("keydown");
  e.which = 13; //choose the one you want
  e.keyCode = 13;
  $(".jp-Stdin-input").trigger(e);
})

document.getElementById("SaveButton").onclick = function(){
	var e = jQuery.Event("keydown");
	e.which = 13; //choose the one you want
	e.keyCode = 13;
	$(".jp-Stdin-input").trigger(e);
};

// define what element should be observed by the observer
// and what types of mutations trigger the callback
observer.observe(document.getElementsByClassName("juniper-output")[0], {
  subtree: true,
  attributes: true,
  childList:true
});

function hideAllSections(){
	$("#CodingSection").hide();
	$("#CodingButtons").hide();
	$("#NormalSection").hide();
	$("#NormalExplanation").hide();
	$("#QuizSection").hide();
	$("#QuizExplanation").hide();
	$(".CenterVid").hide();
	$("#QuestionExplanationDiv").hide();
	$("#StartQuestions").hide();
	selectedAnswer = -1;
	quizMarked = false
}
var actualSlideDBID = -1;

$("#StartQuestions").click(function(){
	$('#MainQuizSectionScroll').scrollTo($(".quizQuestionQuestion")[0], 1000);
})

function changeProblems(problemID){
	if(currentProblemID == problemID){return}
	var _data = {}
	$.ajax({
		type: "POST",
		url: "api/GetSlide?ID={{course.id}}&PROBLEMNUM="+problemID,
		data: JSON.stringify(_data),
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		success: function(data){
			currentProblemID = problemID
			actualSlideDBID = data['id']

			$("#ProblemName").text(data['name']);

			hideAllSections();
			if(data['type'] == "Coding"){
				$("#CodingExplanation").html(data['explanation'])
				$("#CodingSection").show();
				$("#CodingButtons").show();
				forceCodingWindowView();
			}else if(data['type'] == "Info"){
				$("#NormalExplanation").html(data['explanation'])
				$("#NormalExplanation").show();
				$("#NormalSection").show();
			}else if(data['type'] == "Quiz"){
				$("#QuizSection").show();
				getQuizQuestions(data['type'])

			}else if(data['type'] == "Video"){
				$("#NormalExplanation").html(data['explanation'])
				$("#NormalExplanation").show();
				$("#NormalSection").show();
				$("#trailerFrame").attr('src', ("https://www.youtube.com/embed/"+data['video']))
				$(".CenterVid").show();
				
			}else if(data['type'] == "Question Bank"){
				$("#StartQuestions").show();
				$("#QuestionAmountSelectionDiv").hide();
				$("#QuestionLoadingDiv").show();
				$("#QuizSection").show();
				$("#QuestionExplanationDiv").show();
				$("#QuestionExplanationDiv").html(data['explanation'])
				getQuizQuestions(data['type'])
			}

			if(data['hasPrevious']){
				$('#PreviousProblem').prop('disabled', false);
			}else{
				$('#PreviousProblem').prop('disabled', true);
			}

			if(data['hasNext']){
				$('#NextProblem').prop('disabled', false);
			}else{
				$('#NextProblem').prop('disabled', true);
			}
		},
		failure: function(errMsg) {

    	}
	});
}

function getQuizQuestions(quiz_type,setAmount = false, amnt = 0){
	$("#ActualQuestionsDiv").empty()
	$.getJSON( "api/GetSlideQuestions?SLIDEID="+actualSlideDBID, function( data ) {
		quizMarked = false
		var len =  data.length
		if(quiz_type == "Quiz"){
			len = 1
			$("#QuestionAmountSelectionDiv").hide();
		}

		//Setup question Count
		$("#questionBankAmount").empty();
		if(len < 5){
			$("#questionBankAmount").append("<option>"+len+"</option>")
		}else{
			$("#questionBankAmount").append("<option>5</option>")
		}
		//Add options every 5 questions
		for (i = 10; i <= len;i+=5 ){
			$("#questionBankAmount").append("<option>"+i+"</option>")
		}

		for (i = 0; i < len; ++i) {
			$("#ActualQuestionsDiv").append('<div class="CenteringDiv QuestionBankQuestion"><div class="CenterText container-sm"><div class="TopDiv ql-editor quizQuestionQuestion" id="QuizExplanation'+i+'" style=""></div></div><div class="container-sm"><div class="row row-quiz" style="text-align:center" id="QARow'+i+'"></div></div></div>')
		

			$("#QuizExplanation"+i).html(data[i]['explanation'])

			for (a = 0; a < data[i]['answers'].length; ++a) {
				var answerVal = data[i]['answers'][a]
				$("#QARow"+i).append('<div class="col radio-col radio-col-'+i+'" id="'+i+'QANUM'+a+'"><input type="radio" name="quizradio'+i+'" value="'+answerVal+'" class="quiz-answer" id="'+i+'QARADIO'+a+'"><p class="QuizText">'+answerVal+'</p></div>');

				$("#"+i+"QANUM"+a).click(function() {
					var num2 = $(this).attr("id").split("QANUM")[1]
					var num1 = $(this).attr("id").split("QANUM")[0]

					$("#"+num1+"QARADIO"+num2).prop("checked", true);
					$("#"+num1+"QARADIO"+num2).trigger("change")
				});

				$("#"+i+"QANUM"+a).change(function() {
					var num2 = $(this).attr("id").split("QANUM")[1]
					var num1 = $(this).attr("id").split("QANUM")[0]

					//Clear all others
					$(".radio-col-"+num1).each(function(i, obj){
						$(this).css({"background-color":"","color":""})
					})

					if($("#"+num1+"QARADIO"+num2).is(':checked')) { 
						$("#"+num1+"QANUM"+num2).css({"background-color":"#343a40","color":"white"})
					}
				});
			}
		}
		shuffleQuestions();
		var amount = $("#questionBankAmount").val()
		if(setAmount){
			amount = amnt
			$("#questionBankAmount").val(amnt)
		}

		if(quiz_type != "Quiz"){
			$(".CenteringDiv").each(function(i, obj){
				if(i-1 > amount){
					$(this).remove()
				}
			})
		}

		$("#ActualQuestionsDiv").append('<button type="button" class="btn btn-dark" id="MarkQuiz">Submit</button>')
		$("#MarkQuiz").click(function() {
			MarkQuiz();
		});

		$(".QuestionBankQuestion").each(function(i, obj){
			$(this).append('<button type="button" class="btn btn-dark NextQuestionsButton" id="NextQuestions'+i+'" class="NextButton">Next</button>')
		})

		$(".NextQuestionsButton").click(function(){
			var num = parseInt($(this).attr("id").split("Questions")[1])+1

			_x = document.getElementsByClassName("quizQuestionQuestion");
			_element = null
			for(i = 0; i < _x.length;i++){
				if(i == num){
					_element = _x[i]
				}
			}

			if(_element != null){
			$('#MainQuizSectionScroll').scrollTo(_element, 1000);
			}

		})
		var qCount = $("#questionBankAmount").val();
		$(".NextQuestionsButton").each(function(i,obj){
			if(i == (qCount-1)){
				obj.remove()
			}
		})

		if(quiz_type == "Quiz"){
			$(".CenteringDiv").css({"padding-top":"0px","padding-bottom":"0px"})
			$("#MarkQuiz").css({"margin-top":"20px"})
		}
		$("#QuestionLoadingDiv").css({"display":"none"})
		if(quiz_type != "Quiz"){
			$("#QuestionAmountSelectionDiv").css({"display":"inline-block"})
		}
		$("#StartQuestions").attr("disabled",false)
	});
}

$("#questionBankAmount").change(function() {
	getQuizQuestions("Question Bank",true,$("#questionBankAmount").val());
})

function shuffleQuestions(){
	var parent = $("#ActualQuestionsDiv");
    var divs = parent.children();
    while (divs.length) {
        parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
    }
}

$("#PreviousProblem").click(function() {
	changeProblems(currentProblemID-1)
});

$("#NextProblem").click(function() {
	changeProblems(currentProblemID+1)
});

$('.SlideTitle').each(function(i, obj) {
    $(this).click(function(){
		changeProblems(i+1); 
	});
});

hideAllSections();
changeProblems(1);

function MarkQuiz(){
	if(quizMarked){return}

	startMarking();
	$.getJSON( "api/GetQuizAnswers?SLIDEID="+actualSlideDBID, function( data ) {
		var len =  $("#questionBankAmount").val()

		if(data['type'] == "Quiz"){
			len = 1
		}

		//Check all questions are answers
		if($('input[type=radio]:checked').length < len){
			alert("Please answer all of the questions");
			endMarking();
			return
		}
		var wrong = 0;
		$(".quiz-answer").each(function(i, obj){
			var _li = $(this).attr("id").split("QARADIO")
			var i = _li[0]
			var a = _li[1]

			if(data['answers'][i][a] == 1){
				$("#"+i+"QANUM"+a).css({"background-color":"rgb(20, 151, 66)","color":"white"})
			}else if($(this).is(':checked')) {
				$("#"+i+"QANUM"+a).css({"background-color":"rgb(202, 46, 46)","color":"white"})
				wrong ++;
			}
		})

		$(".quiz-answer").each(function(i, obj){
			$(this).prop('disabled', true);
		})

		$(".radio-col").each(function(i, obj){
			$(this).off()
		})

		$("#MarkQuiz").css({"margin-top":"30px"})
		$(".NextQuestionsButton").remove()

		$(".CenteringDiv").css({"padding-top":"5%","padding-bottom":"5%"})

		quizMarked = true
		endMarking();
		$("#MarkQuiz").attr("disabled",true)
		var qCount = $("#questionBankAmount").val();
		$("#MarkQuiz").text((qCount-wrong)+"/"+qCount)
	})
}


function startMarking(){
	var loading = document.createElement("span");
	loading.className = "spinner-border spinner-border-sm"

	var updateBtn = document.getElementById("MarkQuiz")
	updateBtn.innerHTML = "Submitting... "
	updateBtn.appendChild(loading);
}

function endMarking(){
	var updateBtn = document.getElementById("MarkQuiz")
	updateBtn.innerHTML = "Submit"
}
</script>
<div>
{% endblock %}